<div class="floating-menu">  
    <ul>  
      <li class="m"><a href="#section-01" class="menu-01"><span>메뉴 1</span></a></li>  
      <li class="m"><a href="#section-02" class="menu-02"><span>메뉴 2</span></a></li>  
      <li class="m"><a href="#section-03" class="menu-03"><span>메뉴 3</span></a></li>  
      <li class="btn-top"><a href="#header"><span>상단으로</span></a></li>  
    </ul>  
  </div>