<!-- views/404.ejs -->  
<!DOCTYPE html>  
<html>  
<head>  
    <title>404 - 페이지를 찾을 수 없습니다</title>  
</head>  
<body>  
    <%- include('./layouts/sidebar') %>  
    <div class="main-content">  
        <h1>404</h1>  
        <p>요청하신 페이지를 찾을 수 없습니다.</p>  
        <a href="/">홈으로 돌아가기</a>  
    </div>  
</body>  
</html> 