<link rel="stylesheet" href="/styles/stack.css">

<section id="stack" class="stack-section">
    <div class="stack-section">
        <h1 class="stack-title">Tech Stack<span class="point-color">.</span></h1>

        <div class="stack-container">
            <div class="stack-item">
                <div class="stack-image-wrapper">
                    <img src="/images/oracle.png" alt="Oracle" class="stack-img oracle-color">
                </div>
                <span class="stack-name">Oracle DB</span>
            </div>

            <div class="stack-item">
                <div class="stack-image-wrapper">
                    <img src="/images/htmls.png" alt="HTML5" class="stack-img html-color">
                </div>
                <span class="stack-name">Web Stack</span>
            </div>

            <div class="stack-item">
                <div class="stack-image-wrapper">
                    <img src="/images/java.png" alt="Java" class="stack-img java-color">
                </div>
                <span class="stack-name">Java</span>
            </div>

            <div class="stack-item">
                <div class="stack-image-wrapper">
                    <img src="/images/python.png" alt="Python" class="stack-img python-color">
                </div>
                <span class="stack-name">Python</span>
            </div>

            <div class="stack-item">
                <div class="stack-image-wrapper">
                    <img src="/images/c.png" alt="C" class="stack-img c-color">
                </div>
                <span class="stack-name">C</span>
            </div>

            <div class="stack-item">
                <div class="stack-image-wrapper">
                    <img src="/images/r.png" alt="R" class="stack-img r-color">
                </div>
                <span class="stack-name">R</span>
            </div>
        </div>
    </div>
</section>

<script src="/public/scripts/animations.js"></script>  