<div id="hobbyModal" class="modal">  
    <div class="modal-content">  
        <span class="close-modal">&times;</span>  
        <div class="modal-header">  
            <h2>취미</h2>  
        </div>  
        <div class="modal-body">  
            <div class="modal-grid">  
                <div class="modal-item">  
                    <i class="fas fa-gamepad"></i>  
                    <p>게임</p>  
                </div>  
                <div class="modal-item">  
                    <i class="fas fa-music"></i>  
                    <p>음악감상</p>  
                </div>  
                <!-- 추가 취미 항목들 -->  
            </div>  
        </div>  
    </div>  
</div>