<div id="personalityModal" class="modal">  
    <div class="modal-content">  
        <span class="close-modal">&times;</span>  
        <div class="modal-header">  
            <h2>성격</h2>  
        </div>  
        <div class="modal-body">  
            <div class="modal-grid">  
                <div class="modal-item">  
                    <i class="fas fa-smile"></i>  
                    <p>긍정적</p>  
                </div>  
                <div class="modal-item">  
                    <i class="fas fa-users"></i>  
                    <p>친화력 있는</p>  
                </div>  
                <!-- 추가 성격 항목들 -->  
            </div>  
        </div>  
    </div>  
</div>